<h2>Projects Form</h2>
<form class="form-horizontal">
		
		<div class="form-group"><label class="col-sm-4 control-label">Project ID:</label>
		<div class="col-sm-5"><input class="form-control" type="text" ng-model="projectId" required></input></div></div>
		
		<div class="form-group"><label class="col-sm-4 control-label">Name:</label>
		<div class="col-sm-5"><input class="form-control" type="text" ng-model="name" required></input></div></div>
		
		<div class="form-group"><label class="col-sm-4 control-label">Project Description:</label>
		<div class="col-sm-5"><input class="form-control" type="text" ng-model="projectDescription" required></input></div></div>

		
		<span class="form-group"><a href="#/" class="btn btn-warning" ng-click="start()">Create new project</a></span>
		
</form>
<br/>